<% content_for(:html_title) { 'ABOUT - EA2' } %>
<div id="pagewrap">
  <div id="header">
    <div id="logo">
      <a href="/"><img src="../images/logo-344x65.png" class="ri" style="margin-top: 5px;"/></a>
    </div>
    <div class="rmm">
      <ul>
        <li><a href="/">Impressions</a></li>
        <li><a href="../before-and-after/">Before & after</a></li>
        <li><a href="../at-work/">At work </a></li>
        <li><a href="../about-ea2/" class="active">About EA2</a></li>
      </ul>
    </div>
  </div>	<!-- CONTENT -->
  <div id="content">
    <div id="spacing">
      <p>EA2 is an international boutique firm known for our supply of and design with exclusive and original antique building materials used in high-profile residential projects.</p>
      <p>We specialize in Blue Heaven<sup>®</sup> Historical Stone, stone that is reclaimed and is known as being the Rolls Royce of stone floors.</p>
      <p>We are part of the process from the drawings by the designers all the way through to the installation.</p>
      <p>Our customers — homeowners, architects, and interior designers — seek out our innovative ideas in order to find and design with the highest quality materials to use in their projects.</p>
      <p>Our objective is to always provide the feeling that the materials are a part of the original structure or scene.</p>
      <p>Another aspect of our business that we take pride in is the close relationship we develop with our clients and the bond that is formed between clients and materials. A true friendship is formed in the process, as our clients join us to see the materials as they once were, and imagined as what they could be.</p>
      <p>Our clients especially embrace the design process by coming to Europe to gain a first hand experience of procuring materials. Clients become more connected to their home by expressing their unique tastes through choices they make. These choices will complement the overall aesthetic as well as the creative design work that goes on behind the scenes for them.</p>
      <p>The following original and exclusive materials with unique patinas can be provided to your Architectural and Landscape projects: </p>
      <ul>
        <li><strong>Blue Heaven<sup>®</sup> Historical Stone</strong> | 18th C &gt; 20th C<br/>Floors, Staircases, Garden Steps and Pool Copings</li>
        <li><strong>Antique White Marble</strong> | 18th C &gt; 20th C <br/>Floors and Staircase</li>
        <li><strong>Antique French Oak</strong> | 18th C &gt; 20th C <br/>Floors, Parquets and Staircases</li>
        <li><strong>Antique French Oak</strong> | 19th C &gt; 20th C <br/>Beams and Ceilings</li>
        <li><strong>Antique Cobblestones</strong> | 17th C &gt; 20th C <br/>Unique colors and Sizes</li>
        <li><strong>Antique Oak and Pine</strong> | 18th C &gt; 20th C <br/>Doors</li>
        <li><strong>Historical Bricks</strong> | 18th C &gt; 20th C <br/>Unique Colors and Sizes</li>
        <li><strong>Antique Limestone</strong> | 18th C &gt; 20th C <br/>Floors, Fireplaces, Fountains and Garden Artifact</li>
        <li><strong>Antique Marbles</strong> | 18th C &gt; 20th C <br/>Floors, Fireplaces, Fountains and Garden Artifactse</li>
        <li><strong>Scura<sup>®</sup> Finishes</strong> | 18th C &gt; 20th C<br/>Lime finishes on walls, floors and bathrooms based on 18th C lime-techniques</li>
      </ul>
      <p>After all the packing and shipping is arranged we also enjoy being part of the installation process, as we work first hand with unique design groups, contractors and installers to oversee the installation of these wonderful materials and ensure that their true beauty is brought out through proper installation and finishes.</p>
      <p>Our firm's commissions include work from such notable clients as Tom Brady, Giselle Bundchen, Reed and Delphine Krakoff, John and Maureen Hailer, Michael and Lisa Bronner.</p>
      <p>Thank you for your interest in our firm. We look forward to meeting you and helping you to create the most beautiful and original home possible.</p>
      <div>
        <img src="../pictures/architectural-digest.jpg"/>
      </div>
      <p>We wish you a beautiful rest of the day,</p>
      <p>
      with Kindest Regards,<br/>
      Koen Van Loo<br/>
      owner and founder <br/>
      EA2   experts in antique stone and wood
      </p>
      <p>
      <strong>Address</strong><br/>
      BELGIUM <img src="../images/square.png" width="6" style="vertical-align:middle; margin-left: 5px; margin-right:5px;"/> Itegembaan 4a <img src="../images/square.png" width="6" style="vertical-align:middle; margin-left: 5px; margin-right:5px;"/> 2580 Putte
      </p>
      <p>
      <strong>Showroom</strong><br/>
      USA <img src="../images/square.png" width="6" style="vertical-align:middle; margin-left: 5px; margin-right:5px;"/> 741 Main Road <img src="../images/square.png" width="6" style="vertical-align:middle; margin-left: 5px; margin-right:5px;"/> 02646 Harwichport MA
      </p>
      <p>
      <strong>Contact</strong><br/>
      USA-Showroom +1 617 991 07 15<br/>
      BELGIUM +32 477 56 03 38<br/>
      <a href="mailto: koen@ea2.be" target="_blank">koen@ea2.be</a> <img src="../images/square.png" width="6" style="vertical-align:middle; margin-left: 5px; margin-right:5px;"/> <a href="/">ea2.be</a>
      </p>
      <p>&nbsp;</p>
    </div>
  </div>
  <div style="clear:both;"></div>	<div id="footer">
  </div>
</div>

