<% content_for(:html_title) { 'AT WORK - EA2' } %>
<div id="content">
  <!-- LINE 1 -->
  <div id="line_1">
    <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/01.jpg" class="full"/>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/02.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/03.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/04.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/05.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 1 -->
  <div id="line_1">
    <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/06.jpg" class="full"/>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/07.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <div id="line_2_top">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/08.jpg" class="full"/>
      </div>
      <div id="line_2_bottom">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/09.jpg" class="full"/>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/10.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <div id="line_2_top">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/11.jpg" class="full"/>
      </div>
      <div id="line_2_bottom">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/12.jpg" class="full"/>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 1 -->
  <div id="line_1">
    <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/13.jpg" class="full"/>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/14.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <div id="line_2_top">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/15.jpg" class="full"/>
      </div>
      <div id="line_2_bottom">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/16.jpg" class="full"/>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <!-- LINE 1 -->
  <div id="line_1">
    <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/17.jpg" class="full"/>
  </div>
  <hr class="line_black"/>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/18.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <div id="line_2_top">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/19.jpg" class="full"/>
      </div>
      <div id="line_2_bottom">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/20.jpg" class="full"/>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/21.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612695776/ea2_V2/at-work/22.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <div style="clear:both;"></div> 
</div>
<div style="clear:both;"></div>	<div id="footer">
</div>

