<% content_for(:html_title) { 'BEFORE & AFTER - EA2' } %>
<div id="content">
  <!-- LINE 1 -->
  <div id="line_1">
    <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/01.jpg" class="full"/>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/02.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <div id="line_2_top">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/03.jpg" class="full"/>
      </div>
      <div id="line_2_bottom">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/04.jpg" class="full"/>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 1 -->
  <div id="line_1">
    <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/05.jpg" class="full"/>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/06.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <div id="line_2_top">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/07.jpg" class="full"/>
      </div>
      <div id="line_2_bottom">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/08.jpg" class="full"/>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/09.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/10.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/11.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/12.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 1 -->
  <div id="line_1">
    <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/13.jpg" class="full"/>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/14.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <div id="line_2_top">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/15.jpg" class="full"/>
      </div>
      <div id="line_2_bottom">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/16.jpg" class="full"/>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/17.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/18.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/19.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/20.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 1 -->
  <div id="line_1">
    <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/21.jpg" class="full"/>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/22.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <div id="line_2_top">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/23.jpg" class="full"/>
      </div>
      <div id="line_2_bottom">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/24.jpg" class="full"/>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/25.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/26.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/27.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/28.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/29.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/30.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/31.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/32.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/33.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/34.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/35.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/36.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <!-- LINE 2 -->
  <div id="line_2">
    <div id="line_2_links">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/37.jpg" class="full_extra"/>
    </div>
    <div id="line_2_rechts">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612630155/ea2_V2/before-and-after/38.jpg" class="full"/>
    </div>
    <div style="clear:both;"></div>
  </div>
  <hr class="line_black"/>
  <div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>	<div id="footer">
</div>

