@import "bootstrap";
@import "articles";
@import "previous_site";
@import "pages";

.new-article-form * {
  margin-bottom: 1rem;
}

.admin-article-image {
  width: 300px;
  object-fit: contain;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  min-width: 600px;
}

.article-card {
  width: 250px;
  height: 250px;
  margin: 5px;

  &:hover {
    filter: opacity(0.6);
  }

  img {
    width: 100% !important;
    height: 100% !important;
  }
}
.grid-item {
  // background-color: green;
  // padding: 20px;
  // font-size: 30px;
  // text-align: center;
}
